*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Merriweather', sans-serif;
}
a:hover{
    color: #ffffff;
}
nav{
    display: flex;
padding: 10px 6%;
align-items: center;
justify-content: space-between;
background-color: #ffffff;
}
.nav-links{
    flex: 2;
    text-align: center;
}
.nav-links ul li{
    text-align: right;
    display: inline-block; 
    padding: 5px 8px 0 8px; 
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    color:  #4D4B48;
    font-size: 16px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
}
.li2{
    float: right;
    text-align: right;
    justify-content: right;
    align-items: right;
}
.li2 button{
    background-color:  #960ACA;
    padding: 8px 25px;
    border-radius: 5px;
    margin-left: 30px;
}
a.active::after{
	content: '';
	width: auto;
	height: 2px;
	background:#960ACA;
	display: block;
}    
.fa-times, .fa-bars{
    display:none;
}
@media screen and (min-width:270px) and (max-width:780px){
    .nav-links ul li{
        display: block;
        text-align: left;
    }
    .nav-links{
        position:fixed;
        background:white;
        height: 50vh;
        width:150px;
        top: 0;
        right: -150px;
        text-align:left;
        z-index: 2; 
        transition: 1s;
    }
    .li2{
        float: left;
        text-align:left;
        justify-content:left;
        align-items: left;
    }
    .fa-bars, .fa-times{
        display:block;
        color:#4D4B48;
        margin: 10px;
        font-size: 25px;
        cursor: pointer; 
    }
.label img{
        width:150px;
        margin: -60px -70px -80px -30px;
        padding: 0;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-icons img{
        padding: 0;
        border-left: none;
        margin: 13px 15px 0 15px;
    }
    nav{
        padding: 15px 30px;
        margin: 0;
    }
    .label a{
        color:  #4D4B48;
        text-decoration: none;
        font-size: 15px;
    }
    a.active::after{
        content: '';
        width: auto;
        height: 2px;
        background:#4D4B48;
        display:none;
    }
    .nav-icons a span{
        margin:-40px 0px 10px -23px;
    
    }
   
}
@media screen and (min-width:781px) and (max-width:958px){
    .nav-links ul li a{
        text-decoration: none;
        color:  #4D4B48;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 600;
    }
    nav{
        display: flex;
    padding: 10px 2%;
    }
}


.hero-image{
    background-image: url(../img/homepage/b.g.svg);
    width: 100%;
	height:90vh;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
.hero-text{
    color: white;
    padding: 130px 0 0 30px;
    font-family: 'Merriweather';
    font-style:normal;
}
.hero-text h3{
    font-weight: 500;
font-size: 60px;
color: white;
}
.hero-text p{
font-weight: 300;
font-size: 12px;
}
.hero-text button{
    background: #960ACA;
border-radius: 10px;
padding: 8px 40px;
font-variant: small-caps;
color: #ffffff;
}

@media screen and (min-width:270px) and (max-width:958px){
    .hero-image{
        background-image: url(../img/homepage/b.g.svg);
        width: 100%;
        height:100%;
    }
    .hero-text{
        color: white;
        padding: 80px 10px 30px 20px;
        font-family: 'Merriweather';
        font-style:normal;
    }
    .hero-text h3{
        font-weight: 500;
    font-size: 30px;
    }
    .hero-text p{
    font-weight: 300;
    font-size: 13px;
    }
    .hero-text button{
       margin-bottom: 20px;
    }
    }
    .purple{
     position: absolute;
     top: 90%;
     left: 80%;
    }
    .d-p{
        position: absolute;
     bottom:70px;
     right: 65%; 
    }

.about-row{
    display: flex;
    margin:18% 5%;
    gap: 8%;
}
.about-col{
    flex-basis: 50%;
    font-family: 'Merriweather';
}
.about-col h4{
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    margin-top: 100px;
}
.about-col p{
    font-weight: 300;
font-size: 20px;
}


@media screen and (min-width:270px) and (max-width:958px){
.about-row{
    flex-direction: column;
}
.about-col img{
    width: 100%;
}
.purple{
   display: none;
   }
   .d-p{
    display: none;
}
.about-col p{
    font-weight: 300;
font-size: 16px;
}
}

.focus{
    background-color:  #F4F3F3;
    padding: 70px 50px;
    font-family: 'Merriweather';
}
.focus h2{
    font-style: normal;
font-weight: 700;
font-size: 48px;
margin: 40px 40px 70px 40px;
}
.focus-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.focus-col{
    flex-basis: 31%;
    background-color: #ffffff;
    border-radius: 10px;
    padding:10px 30px;
    color: #000000;
}
.focus-col p{
    font-style: normal;
font-weight: 300;
font-size: 14px;
}
.focus-col h4{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding-top: 20px;
}
.focus-col img{
    margin: -50px 0 0 -40px;
}
@media screen and (min-width:270px) and (max-width:958px){
    .focus-row{
        flex-direction: column;
    }
    .focus h2 {
        font-size: 40px;
        margin: 40px 0px 70px 0px;
    }
    .focus{
        background-color:  #F4F3F3;
        padding: 70px 20px;
        font-family: 'Merriweather';
    }
    }
.students{
    background-image: url(../img/homepage/b.g2.svg);
    width: 100%;
	height:100%;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
.students img{
   float: right;
}
.students-row{
    display: flex;
    color: #ffffff;
    justify-content: center;
    padding:50px 80px;
    font-family: 'Merriweather';
    gap: 50px;
}
.students-col{
    /* width: 50%; */
    flex-basis: 50%;
}
.students-col h2{
    font-style: normal;
font-weight: 500;
font-size: 48px;
}
.students-gain h3{
    font-style: normal;
font-weight: 500;
font-size: 48px;
margin-top: 45px;
color: white;
}
.students-gain p{
    font-size: 13px;
}
.students-col button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 10px;
background: #FAF9F9;
border-radius: 16px;
color: #960ACA;
font-size: 14px;
font-weight: 700;
font-variant: small-caps;
}

@media screen and (min-width:270px) and (max-width:958px){
    .students-row{
        flex-direction: column;
        padding:50px 20px;
        gap: 10px;
    }
    .students{
        background-image: url(../img/homepage/b.g2.svg);
        width: 100%;
        height:100%;
    }
.students-col h2{
    font-size: 35px;
}
    }


    .beneficiaries h2{
        font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 48px;
margin: 50px 0 -30px 100px;
    }
 .beneficiaries .owl-carousel{
    padding:0 50px 0 0;
 } 
 .beneficiaries .owl-carousel .owl-item img {
    display: block;
    width:auto;
}    
.beneficiaries .owl-carousel .owl-item{
    margin: 0px 30px 0 0;
}
.beneficiaries-col{
    background: #FAF9F9;
    border-radius: 32px 32px 0px 0px;
    padding: 20px 0 0 0;
    width: auto;
   height: 400px;
}
.beneficiaries-col p{
font-weight: 300;
font-size: 13px;
color: rgba(0, 0, 0, 0.7);
padding:50px 30px;
}
.beneficiaries-purple{
    display:flex;
    background-color: #960ACA;
    padding: 10px 20px;
}
.beneficiaries-purple img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.beneficiaries-purple p{
    padding: 0px 10px;
    color: white;
    font-family: 'Merriweather';
font-weight: 400;
font-size: 14px;
}

@media screen and (min-width:270px) and (max-width:958px){
    .beneficiaries .owl-carousel{
        padding:0;
     } 
     .beneficiaries .owl-carousel .owl-item img {
        display: block;
        width:auto;
    }    
    .beneficiaries .owl-carousel .owl-item{
        margin: 0px 10px 0 0;
        width: 100%;
    }
    .beneficiaries-col{
        background: #FAF9F9;
        border-radius: 32px 32px 0px 0px;
        padding: 20px 0 0 0;
        width: auto;
       height: 400px;
    }
    .beneficiaries-col p{
    font-weight: 300;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    padding:50px 30px;
    margin-bottom: 20px;
    }
    .beneficiaries h2{
        font-size: 30px;
    }
    }

.footer{
    background-color: black;
    padding: 50px 50px 10px 50px;
    color: white;
    font-family: 'Merriweather', sans-serif;
}
.footer-row{
    display: flex;
    padding:0 50px 0 0;
    justify-content: space-around;
}
   
.footer-col ul li{
    list-style: none;
    padding: 5px 0;
}
.footer-col ul li a{
    font-size: 10px;
}
.footer p{
    text-align: center; 
    margin-top: 70px;  
    font-variant: small-caps;
    text-transform: lowercase;
}
.footer-col h1{
    margin-right: 100px;
    margin-left: 0;
}

@media(max-width:958px){
    .footer-row{
        flex-direction: column;
    }
    .footer-col ul li a {
        font-size: 18px;
    }
    .footer-col h5 {
        font-size: 30px;
    }
    .footer-col h1{
        font-size: 50px;
    }
    .footer {
        background-color: black;
        padding: 50px 20px 10px 20px;
        color: white;
        font-family: 'Merriweather', sans-serif;
    }
}

/* ----------------------About page--------------------- */
.about-us{
    font-family: 'Merriweather';
}
.h2{
background: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%);
border-radius: 16px;
font-style: normal;
font-weight: 700;
font-size: 48px;
text-align: center;
color: white;
}
.what-we-do{
    padding: 100px 0 40px 80px;
    display: flex;
}
.what-we-do h1{
    font-style: normal;
font-weight: 700;
font-size: 50px;
color: rgba(0, 0, 0, 0.8);
}
.what-we-do p{
    font-style: normal;
font-weight: 300;
font-size: 20px;
margin:20px 0 80px 0;
color: rgba(0, 0, 0, 0.8);
}
.what-we-do button{
    background: #960ACA;
border-radius: 4px;
padding: 10px 80px;
color: white;
font-variant: small-caps;
}

.what-we-do-col img{
    margin: 90px;
}
.theme-launch{
    display: flex;
}
.theme{
    background: #d5b6f650;
    justify-content: center;
    width: 50%;
    padding: 5% 10%;
}
 h3{
    font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: rgba(0, 0, 0, 0.8);
}
.theme-launch p{
    font-family: 'Merriweather';
font-style: normal;
font-weight: 300;
font-size: 24px;
color: rgba(0, 0, 0, 0.8);
}
.launched{
    background: #e6d3fa56;
padding: 5% 8%;
width: 50%;
}
.apply-now{
    position: relative;
    top: 50px;
    margin-left: 80%;
}
.apply-now button{
    border-radius: 50%;
    width: 120px;
    height: 120px;
   background-color: #960ACA;
   color: white;
}

.about-project-challenges{
    background: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%);
   padding:80px 0 80px 180px;
   display: flex;
}
.about-project-challenges img{
 position: absolute;
 right: 0;
}

.about-project-challenges-white{
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    }
.about-project-challenges-white ul{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.about-project-challenges-white ul li{
    list-style: none;
    padding:6px 20px;
}
.about-project-challenges-white ul li a{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
font-size: 25px;
}
.about-project-challenges-white p{
  font-size: 16px;
  padding:0px 60px 50px 60px;
}

@media screen and (min-width:270px) and (max-width:780px){
    .about-project-challenges{
        background: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%);
       padding:20px 10px 20px 10px;
       flex-direction: column;
    }
    .about-project-challenges img{
        position:relative;
        right: 0;
       }
       .about-project-challenges-white{
        width: 100%;
       }
       .about-project-challenges-white ul li {
        list-style: none;
        padding: 6px 10px;
    }
    .about-project-challenges-white ul li a {
        font-size: 17px;
    }
    .about-project-challenges-white p {
        padding: 0px 10px 50px 10px;

    }
    .theme-launch{
       flex-direction: column;
    }
       .theme{
        width: 100%;
       }
       .launched{
        width: 100%;
       }
       .apply-now button{
        border-radius: 50%;
        width: 120px;
        height: 120px;
       background-color: #960ACA;
       color: white;
       display: none;
    }
    .what-we-do-col img{
        margin: 10px;
        /* display: none; */
    }
    .what-we-do {
        padding: 50px 0 40px 15px;
       flex-direction: column;
    }
    .what-we-do h1 {
        font-size: 25px;
    }
    .h2{
        border-radius: 0;
    }
    .theme-launch p {
        font-size: 20px;
    }
}


.our-community{
    padding: 70px;
    margin-top: 80px;
}
.our-community h3{
    font-size: 45px;
}
.our-community-row{
    display: flex;
    gap: 100px;
  padding: 40px 0px 0 0;
}
.our-community-col{
flex-basis: 50%;

}
.our-community-col h3{
    font-size: 30px;
}

.our-community-col img{
    width: auto;
    height: auto;
}
.our-team{
    background: #FBFBFB;
    padding: 70px;
    color: rgba(0, 0, 0, 0.7);
}
.our-team h2{
    font-style: normal;
font-weight: 700;
font-size: 48px;
padding-bottom: 30px;
color: rgba(0, 0, 0, 0.8);
}
.our-team-row{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.our-team-col h6{
font-size: 11px;
text-align: center;
}
.our-team-col p{
    font-size: 14px;
    text-align: center;
    margin:8px 0 0 0;
    letter-spacing: -1px;
    }

.monsur{
    background: #E6D3FA;
    justify-content: center;
    padding: 60px 15px 0px 20px;
    border-radius: 15px;
}
.lola{
    background: #DCADED;
    justify-content: center;
    padding: 50px 15px 0px 20px;
    border-radius: 15px;
}
.nimah{
    background: #CB85E5;
    justify-content: center;
    padding: 50px 15px 0px 20px;
    border-radius: 15px;
}
.priscilla{
    background: #DCADED;
    justify-content: center;
    padding: 50px 15px 0px 20px;
    border-radius: 15px;
}
.catherine{
    background:  #DCADED;
    justify-content: center;
    padding: 20px 15px 0px 20px;
    border-radius: 15px;
}
.joseph{
    background: #EACEF4;
    justify-content: center;
    padding: 50px 15px 0px 20px;
    border-radius: 15px;
}

@media screen and (min-width:270px) and (max-width:958px){
    .our-community-row{
       flex-direction: column;
    }
    .our-team-row{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .our-community-col img{
        width: 100%;
        height: auto;
    }
    .our-community {
        padding: 20px;
        margin-top: 80px;
    }
    .our-community-col h3 {
        font-size: 23px;
        font-style: bold;
    }
    .our-team h2 {
        font-size: 35px;
    }
    .our-team-col img{
        width: 100%;
    }
}
@media screen and (min-width:550px) and (max-width:958px){
    .about-project-challenges {
        background: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%);
        padding: 20px 0 20px 20px;
        display: flex;
    }
    p {
        font-size: 20px;
    }
    .our-team-col p {
        font-size: 17px;
    }
    .our-team-col h6{
        font-size: 20px;
    }
}




/* --------------------contact----------------------- */
.contact{
    background: #E6D3FA;
    padding: 70px;
    font-family: 'Merriweather';
}
.contact h2{
    font-weight: 700;
    font-size: 55px;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 30px;
}
.contact-row{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.contact-col img{
 width: 220px;
 height: auto;
}

.address{
    background:white;
    padding: 70px;
    font-family: 'Merriweather';
}
.address-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.address-col {
    background: #FBFBFB;
    box-shadow: 5.60291px 5.60291px 29.8822px rgba(0, 0, 0, 0.12);
    padding: 30px 70px 30px 30px;
}
.address-col img{
    background-color:  #FBF1FF;
    padding: 50px;
    border-radius: 50%;
    margin: -60px 0 0 -50px ;
}
.address-col h4{
    font-weight: 700;
font-size: 33.6174px;
color: rgba(0, 0, 0, 0.8);
}
.address-col p{
    margin-top: 10px;
    font-weight: 400;
font-size: 15px;
}
.address-col ul{
padding: 0;
}
.address-col ul li{
    list-style: none;
}
.address-col ul li a{
    color:rgba(0, 0, 0, 0.8);
    font-weight: 400;
font-size: 11.2058px;
}

.headquater{
    background: #E6D3FA;
    padding: 80px;
    font-family: 'Merriweather';
    color:rgba(0, 0, 0, 0.8);
}
.headquater-row{
    display: flex;
}
.headquater-col{
    flex-basis: 50%;
    width: 50%;
}
.headquater-col h2{
    font-weight: 700;
font-size: 40px;
}
.headquater-col p{
    font-weight: 400;
font-size: 15px;
}
.join img{
    margin: -8% 0 0 40%;
}
.join button img{
    margin:0;
}
.join button{
    background: #960ACA;
border-radius: 16px;
padding: 10px 30px;
color: white;
font-variant: small-caps;
font-weight: 500;
font-size: 13px;
margin: 20px 0 0 40%;
}
@media screen and (min-width:270px) and (max-width:551px){
    .headquater-row{
        flex-direction: column;
    }
    .headquater{
        padding: 20px;
    }
    .join img{
        margin: 0% 0 0 10%;
    }
    .join button{
    margin: 20px 0 0 10%;
    }
    .address-row{
        flex-direction: column;
    }    
    .contact-row{
        flex-direction: column;   
    }
    .contact {
        padding: 50px;
    }
    .address {
        padding: 20px;
    }
    .contact h2 {
        font-weight: 700;
        font-size: 50px;
        color: rgba(0, 0, 0, 0.8);
        padding-bottom: 30px;
    }
    .contact-col img {
        width: 100%;
        height: auto;
    }
    .contact-col p{
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
       }
       .address-col ul li a {
        color: rgba(0, 0, 0, 0.8);
        font-weight: 400;
        font-size: 20px;
    }
}

@media screen and (min-width:552px) and (max-width:958px){
    .address-row{
        flex-direction: column;
    }    
    .contact-row{
        flex-direction: column;   
    }
    .contact {
        padding: 50px;
    }
    .address {
        padding: 20px;
    }
    .contact-col img{
        width: 100%;
        height: auto;
       }
       .contact-col p{
        font-size: 25px;
        font-weight: 700;
        margin-top: 30px;
       }
       .address-col ul li a {
        color: rgba(0, 0, 0, 0.8);
        font-weight: 400;
        font-size: 20px;
    }
    .theme {
        padding: 5% 5%;
    }
    .launched{
        padding: 5%;
    }
}

.community{
    padding: 20px 80px 50px 0;
    font-family: 'Merriweather';
}
.community h1{
    background: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%);
border-radius: 0px 16px 16px 0px;
padding: 80px;
font-weight: 500;
font-size: 64px;
color: #FFFFFF;
}
.community-text{
    padding:30px 80px;
}
.community-text h3{
    font-weight: 700;
font-size: 36px;
color: #000000;
}
.community img{
   position: absolute;
   top: 130px;
   right: 50px;
}
form select{
    color:  rgba(0, 0, 0, 0.5);
    background: #FAF9F9;
    border-radius: 10px;
    border: none;
    padding:5px 20px;
    width: 50%;
    margin-bottom: 20px;
}
form h5{
    font-weight: 700;
font-size: 16px;
color: #000000;
margin: 10px 0;
}
@media screen and (min-width:270px) and (max-width:958px){
    .community{
        padding: 20px 0px 50px 0;
        font-family: 'Merriweather';
    }
    .community h1{
        background: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%);
    border-radius: 0;
    padding: 40px 10px;
    font-weight: 500;
    font-size: 44px;
    color: #FFFFFF;
    }
    .community img{
        position:relative;
        top: 0;
        left: 0;
        right: 0;
        float: left;
        width: 100%;
     }

     .community-text {
        padding: 30px 10px;
    }
}



.partner-with-us{
font-family: 'Merriweather';
margin: 0;
padding: 0;
}
.partner-with-us-purple{
background: linear-gradient(135deg, rgba(206, 159, 252, 0.3) 0%, rgba(115, 103, 240, 0.3) 100%);
padding: 50px;
font-family: 'Merriweather';
}
.partner-with-us-purple h4{
    font-weight: 700;
    font-size: 28px;
    color: #000000;
    padding-top: 30px;
}

.partner-with-us-purple p{
    font-weight: 300;
font-size: 19px;
color: #000000;
}
.partner-with-us-row{
    display: flex;
    gap: 80px;
    padding: 50px;
}
.partner-with-us-row h5{
    font-weight: 700;
font-size: 35px;
color: #000000;
}
.partner-with-us-row p{
    font-size: 24px;
}
.partner-with-us-row button{
    background-color: transparent;
    border: 2px solid #960ACA;
    padding: 10px;
    border-radius: 5px;
    font-variant: small-caps;
    font-weight: 700;
font-size: 14px;
}
.more-details{
    background: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%);
    font-weight: 400;
font-size: 20px;
color: #FFFFFF;
padding: 50px;
margin: 0;
}

@media screen and (min-width:270px) and (max-width:551px){
    .partner-with-us-row{
        flex-direction: column;
        padding: 50px;
    }
    .partner-with-us-purple img{
        margin: 0;
     padding: 0;
     width: 100%;
    }
    .partner-with-us-row p {
        font-size: 22px;
    }
    .partner-with-us-purple{
        padding: 10px;
     width: 100%;
        }
        .partner-with-us-row h5 {
            font-weight: 700;
            font-size: 30px;
            color: #000000;
        }
}
@media screen and (min-width:552px) and (max-width:958px){
    .partner-with-us-row p {
        font-size: 23px;
    }
}