*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Merriweather', sans-serif;
}
a:hover{
    color: #ffffff;
}
nav{
    display: flex;
padding: 10px 6%;
align-items: center;
justify-content: space-between;
background-color: #ffffff;
}
.nav-links{
    flex: 2;
    text-align: center;
}
.nav-links ul li{
    text-align: right;
    display: inline-block; 
    padding: 5px 8px 0 8px; 
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    color:  #4D4B48;
    font-size: 16px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
}
.li2{
    float: right;
    text-align: right;
    justify-content: right;
    align-items: right;
}
.li2 button{
    background-color:  #960ACA;
    padding: 8px 25px;
    border-radius: 5px;
    margin-left: 30px;
}
a.active::after{
	content: '';
	width: auto;
	height: 2px;
	background:#960ACA;
	display: block;
}    
.fa-times, .fa-bars{
    display:none;
}
@media screen and (min-width:270px) and (max-width:780px){
    .nav-links ul li{
        display: block;
        text-align: left;
    }
    .nav-links{
        position:fixed;
        background:white;
        height: 50vh;
        width:150px;
        top: 0;
        right: -150px;
        text-align:left;
        z-index: 2; 
        transition: 1s;
    }
    .li2{
        float: left;
        text-align:left;
        justify-content:left;
        align-items: left;
    }
    .fa-bars, .fa-times{
        display:block;
        color:#4D4B48;
        margin: 10px;
        font-size: 25px;
        cursor: pointer; 
    }
.label img{
        width:150px;
        margin: -60px -70px -80px -30px;
        padding: 0;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-icons img{
        padding: 0;
        border-left: none;
        margin: 13px 15px 0 15px;
    }
    nav{
        padding: 5px;
        margin: 0;
    }
    .label a{
        color:  #4D4B48;
        text-decoration: none;
        font-size: 15px;
    }
    a.active::after{
        content: '';
        width: auto;
        height: 2px;
        background:#4D4B48;
        display:none;
    }
    .nav-icons a span{
        margin:-40px 0px 10px -23px;
    
    }
   
}
@media screen and (min-width:781px) and (max-width:958px){
    .nav-links ul li a{
        text-decoration: none;
        color:  #4D4B48;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 600;
    }
    nav{
        display: flex;
    padding: 10px 2%;
    }
}


.hero-image{
    background-image: url(../img/homepage/b.g.svg);
    width: 100%;
	height:90vh;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
.hero-text{
    color: white;
    padding: 130px 0 0 30px;
    font-family: 'Merriweather';
    font-style:normal;
}
.hero-text h3{
    font-weight: 500;
font-size: 60px;
}
.hero-text p{
font-weight: 300;
font-size: 12px;
}
.hero-text button{
    background: #960ACA;
border-radius: 10px;
padding: 8px 40px;
font-variant: small-caps;
color: #ffffff;
}

@media screen and (min-width:270px) and (max-width:958px){
    .hero-image{
        background-image: url(../img/homepage/b.g.svg);
        width: 100%;
        height:100%;
    }
    .hero-text{
        color: white;
        padding: 80px 10px 30px 20px;
        font-family: 'Merriweather';
        font-style:normal;
    }
    .hero-text h3{
        font-weight: 500;
    font-size: 30px;
    }
    .hero-text p{
    font-weight: 300;
    font-size: 13px;
    }
    .hero-text button{
       margin-bottom: 20px;
    }
    }
    .purple{
     position: absolute;
     top: 90%;
     left: 80%;
    }
    .d-p{
        position: absolute;
     bottom:70px;
     right: 65%; 
    }

.about-row{
    display: flex;
    margin:18% 8%;
    gap: 20%;
}
.about-col{
    flex-basis: 50%;
    font-family: 'Merriweather';
}
.about-col h4{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 70px;
}
.about-col p{
    font-weight: 300;
font-size: 15px;
}


@media screen and (min-width:270px) and (max-width:958px){
.about-row{
    flex-direction: column;
}
.about-col img{
    width: 100%;
}

}

.focus{
    background-color:  #F4F3F3;
    padding: 70px 50px;
    font-family: 'Merriweather';
}
.focus h2{
    font-style: normal;
font-weight: 700;
font-size: 48px;
padding: 40px;
}
.focus-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.focus-col{
    flex-basis: 31%;
    background-color: #ffffff;
    border-radius: 10px;
    padding:10px 30px;
    color: #000000;
}
.focus-col p{
    font-style: normal;
font-weight: 300;
font-size: 14px;
}
.focus-col h4{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding-top: 20px;
}
.focus-col img{
    margin: -50px 0 0 -40px;
}
@media screen and (min-width:270px) and (max-width:958px){
    .focus-row{
        flex-direction: column;
    }
    }
.students{
    background-image: url(../img/homepage/b.g2.svg);
    width: 100%;
	height:65vh;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
.students img{
   float: right;
}
.students-row{
    display: flex;
    color: #ffffff;
    justify-content: center;
    padding:50px 80px;
    font-family: 'Merriweather';
    gap: 50px;
}
.students-col{
    /* width: 50%; */
    flex-basis: 50%;
}
.students-col h2{
    font-style: normal;
font-weight: 500;
font-size: 48px;
}
.students-gain h3{
    font-style: normal;
font-weight: 500;
font-size: 48px;
margin-top: 45px;
}
.students-gain p{
    font-size: 13px;
}
.students-col button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 10px;
background: #FAF9F9;
border-radius: 16px;
color: #960ACA;
font-size: 14px;
font-weight: 700;
font-variant: small-caps;
}

@media screen and (min-width:270px) and (max-width:958px){
    .students-row{
        flex-direction: column;
    }
    .students{
        background-image: url(../img/homepage/b.g2.svg);
        width: 100%;
        height:100%;
    }
    }


    .beneficiaries h2{
        font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 48px;
margin:0 0 0 90px;
    }
 .beneficiaries .owl-carousel{
    padding:0 90px;
 } 
 .beneficiaries .owl-carousel .owl-item img {
    display: block;
    width:auto;
}    
.beneficiaries-col{
    background: #FAF9F9;
    border-radius: 32px 32px 0px 0px;
    padding: 20px 0 0 0;
    width: auto;
   height: 400px;
}
.beneficiaries-col p{
font-weight: 300;
font-size: 13px;
color: rgba(0, 0, 0, 0.7);
padding:50px 90px;
}
.beneficiaries-purple{
    display:flex;
    background-color: #960ACA;
    padding: 10px 20px;
}
.beneficiaries-purple img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.beneficiaries-purple p{
    padding: 0px 10px;
    color: white;
    font-family: 'Merriweather';
font-weight: 400;
font-size: 16px;
}


.footer{
    background-color: black;
    padding: 50px 50px 10px 50px;
    color: white;
    font-family: 'Merriweather', sans-serif;
}
.footer-row{
    display: flex;
    padding:0 50px 0 0;
    justify-content: space-around;
}
   
.footer-col ul li{
    list-style: none;
    padding: 5px 0;
}
.footer-col ul li a{
    font-size: 10px;
}
.footer p{
    text-align: center; 
    margin-top: 70px;  
    font-variant: small-caps;
    text-transform: lowercase;
}
.footer-col h1{
    margin-right: 100px;
    margin-left: 0;
}

@media(max-width:958px){
    .footer-row{
        flex-direction: column;
    }
}











